<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/commons::head">
</head>
<body style="background-image: url(/images/5fMwyh.jpg); background-size: cover; ">
<header th:replace="fragments/navigation::navigation"></header>
</header>

<main>
    <div class="container admin-space">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="display-5 admin-add-role-title">Admin</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link admin-buttons" id="role-btn" th:href="@{/admin/add-role}">Add Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-buttons" id="news-btn" th:href="@{/admin/add-news}">Add News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-buttons" id="statistics-btn" th:href="@{/admin/edit-statistics}">Edit
                            Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-buttons" id="player-btn" th:href="@{/admin/add-players}"
                           aria-disabled="true">Add Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-buttons" id="player-btn" th:href="@{/admin/add-matches}"
                           aria-disabled="true">Add Matches</a>
                    </li>
                </ul>
            </div>

            <form th:method="PATCH" th:action="@{/news/edit/{id}(id=*{id})}" th:object="${newsModel}" class="col-sm-9"
                  id="add-news-container">
                <div>
                    <section class="title-section">
                        <label class="title-label">Title:</label>
                        <input th:field="${newsModel.title}"
                               th:errorclass="bg-danger"
                               minlength="3"
                               class="form-control title-input"
                               type="text">
                    </section>
                </div>
                <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-field"></small>
                <div>
                    <section class="description-section">
                        <label class="description-label">Description:</label>
                        <textarea th:field="${newsModel.description}"
                                  th:errorclass="bg-danger"
                                  minlength="10"
                                  class="form-control description-input"
                                  name="description">

                        </textarea>
                    </section>
                </div>
                <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                       class="error-field"></small>
                <div>
                    <section class="description-section">
                        <label class="description-label">Image URL:</label>
                        <input th:field="${newsModel.imgUrl}"
                               th:errorclass="bg-danger"
                               minlength="3"
                               class="form-control description-input" name="description"></input>
                    </section>
                </div>
                <small th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}" class="error-field"></small>
                <div>
                    <select th:field="${newsModel.team}" th:errorclass="bg-danger" class="form-select"
                            aria-label="Default select example" style="margin-top: 25px; width: 95%;">
                        <option value="" selected>Choose team</option>
                        <option th:each="t : ${T(com.example.premierleague.models.entities.enums.TeamsEnum).values()}"
                                th:value="${t}" th:text="${t}"></option>
                    </select>
                </div>
                <small th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="error-field"></small>
                <section class="submit-btn-section">
                    <button class="submit-btn-role">
                        Submit
                    </button>
                </section>
                </label>
            </form>
        </div>
    </div>
</main>


<footer>&copy; Copyright 2021</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>