<!DOCTYPE html>
<html lang='en'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="fragments/commons::head">
</head>
<body style="background-image: url(/images/5fMwyh.jpg); background-size: cover; ">

<header th:replace="fragments/navigation::navigation"></header>


<main>
    <div th:object="${news}" class="container">
        <div class="row home-news-and-table-container">
            <div class="col-sm-9 news-container">
                <div th:object="${mainNews}">
                <h1 class="home-title">Team news</h1>
                <a class="home-news-title" th:href="@{/news/details/{id}(id = ${mainNews.id})}">
                    <img class="home-first-news" th:src="${mainNews.imgUrl}" alt="">
                    <h4 th:text="${mainNews.title}" id="news"></h4>
                </a>
                </div>
                <div th:each="n : ${news}" class="row">
                    <div class="col-sm-3">
                        <a class="home-news-title"  th:href="@{/news/details/{id}(id = ${n.id})}">
                            <img class="home-news-img" th:src="${n.imgUrl}" alt="">
                        </a>
                    </div>
                    <div class="col-sm-8 home-news-container">
                        <a class="home-news-title" th:href="@{/news/details/{id}(id = ${n.id})}">
                            <h3 th:text="${n.title}" class="news"></h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 home-table-container">
                <div>
                    <img id="premier-league-logo" src="/images/изтеглен файл.png" alt="">
                    <table class="table home-table">
                        <thead class="thead home-table-thead">
                        <tr>
                            <th scope="col">Pos</th>
                            <th scope="col">Club</th>
                            <th scope="col">Pl</th>
                            <th scope="col">Gd</th>
                            <th scope="col">Pts</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1 <img class="first-half" src="/images/man city/manchester-city-fc-logo-escudo-badge-3.png"></img></th>
                            <td>Man city</td>
                            <td>34</td>
                            <td>+47</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <th scope="row">2<img class="first-half man-utd-table-logo" src="/images/man utd/manchester_united_PNG9.png"></img></th>
                            <td>Man Utd</td>
                            <td>33</td>
                            <td>+29</td>
                            <td>67</td>
                        </tr>
                        <tr>
                            <th scope="row">3 <img class="first-half" src="/images/leicester/leicester-city-logo-1.png"></img></th>
                            <td>Leicester</td>
                            <td>35</td>
                            <td>+20</td>
                            <td>63</td>
                        </tr>
                        <tr class="home-table-chelsea-row">
                            <th scope="row">4 <img class="first-half" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png"></img></th>
                            <td>Chelsea</td>
                            <td>34</td>
                            <td>+22</td>
                            <td>61</td>
                        </tr>
                        <tr>
                            <th scope="row">5 <img class="first-half" src="/images/west ham/west-ham-united-fc-logo.png"></img></th>
                            <td>West Ham</td>
                            <td>34</td>
                            <td>+11</td>
                            <td>58</td>
                        </tr>
                        <tr>
                            <th scope="row">6  <img class="first-half home-table-spurs-logo" src="/images/tottenham/Tottenham_Hotspur.png"></img></th>
                            <td>Spurs</td>
                            <td>35</td>
                            <td>+21</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th scope="row">7 <img class="first-half" src="/images/liverpool/unnamed.png"></img></th>
                            <td>Liverpool</td>
                            <td>33</td>
                            <td>+16</td>
                            <td>54</td>
                        </tr>
                        <tr>
                            <th scope="row">8 <img class="first-half" src="/images/everton/everton-logo-escudo-1.png"></img></th>
                            <td>Everton</td>
                            <td>33</td>
                            <td>+3</td>
                            <td>52</td>
                        </tr>
                        <tr>
                            <th scope="row">9 <img class="first-half" src="/images/leeds/610-6108355_leeds-united-afc-logo-png-transparent-leeds-united.png"></img></th>
                            <td>Leeds</td>
                            <td>35</td>
                            <td>-1</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th scope="row">10  <img class="second-half home-table-arsenal-logo" src="/images/arsenal/Arsenal-logo-escudo-shield-1.png"></img></th>
                            <td>Arsenal</td>
                            <td>34</td>
                            <td>+9</td>
                            <td>49</td>
                        </tr>
                        <tr>
                            <th scope="row">11 <img class="second-half" src="/images/aston villa/Aston-Villa-FC-HD-Logo.png"></img></th>
                            <td>Aston villa</td>
                            <td>33</td>
                            <td>+10</td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <th scope="row">12<img class="second-half home-table-wolves-logo" src="/images/wolves/wolverhampton-logo-escudo.png"></img></th>
                            <td>Wolves</td>
                            <td>34</td>
                            <td>-13</td>
                            <td>42</td>
                        </tr>
                        <tr>
                            <th scope="row">13 <img class="second-half" src="/images/Newcastle/Newcastle_United_Logo.png"></img></th>
                            <td class="home-table-newcastle">Newcastle</td>
                            <td>35</td>
                            <td>-18</td>
                            <td>39</td>
                        </tr>
                        <tr>
                            <th scope="row">14 <img class="second-half" src="/images/crystal palace/Crystal_Palace_FC_logo.png"></img></th>
                            <td>Crystal Palace</td>
                            <td>34</td>
                            <td>-22</td>
                            <td>39</td>
                        </tr>
                        <tr>
                            <th scope="row">15 <img class="second-half" src="/images/brighton/brighton-hove-albion-logo-1.png"></img></th>
                            <td>Brighton</td>
                            <td>34</td>
                            <td>-4</td>
                            <td>37</td>
                        </tr>
                        <tr>
                            <th scope="row">16  <img class="second-half" src="/images/southampton/southampton-fc-logo-1.png"></img></th>
                            <td>Southam</td>
                            <td>33</td>
                            <td>-18</td>
                            <td>37</td>
                        </tr>
                        <tr>
                            <th scope="row">17 <img class="second-half" src="/images/burnley/burnley-logo-3.png"></img></th>
                            <td>Burnley</td>
                            <td>34</td>
                            <td>-16</td>
                            <td>36</td>
                        </tr>
                        <tr>
                            <th scope="row">18 <img class="second-half" src="/images/fulham/fulham-fc-logo-vector.svg"></img></th>
                            <td>Fulham</td>
                            <td>34</td>
                            <td>-20</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <th scope="row">19 <img class="second-half" src="/images/west brom/West-Bromwich-Albion-FC-HD-Logo.png"></img></th>
                            <td>West Brom</td>
                            <td>34</td>
                            <td>-34</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <th scope="row">20  <img class="second-half home-table-sheffield-logo" src="/images/sheffield united/sheffield-united-logo-1.png"></img></th>
                            <td>Sheff Utd</td>
                            <td>35</td>
                            <td>-43</td>
                            <td>17</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>&copy; Copyright 2021</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>