<!DOCTYPE html>
<html lang='en'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="fragments/commons::head">
</head>
<body style="background-image: url(/images/5fMwyh.jpg); background-size: cover; ">
<header th:replace="fragments/navigation::navigation"></header>
</header>

<main>
    <div class="container">
        <div class="row">
            <div th:object="${news}" class="col-sm-8 news-details-container">
                <input type="hidden" name="newsId" id="newsId" th:value="${news.id}">
                <h1 th:text="${news.title}" id="news-title"></h1>
                <img class="news-details-photo" th:src="${news.imgUrl}" alt="">
                <p th:text="${news.description}" id="news-description"><span class="blue-colored-news"></span>
                </p>
                <p th:text="|Added by: ${news.getUser().username}- ${#temporals.format(news.addedOn, 'yyyy-MM-dd HH:mm')}|"
                   id="added-by">
                </p>
                <div sec:authorize="principal.authorities.size() == 2"
                     style="background-color: black; width: 100%; display: flex;">
                    <a class="edit-btn" th:href="@{/news/edit/{id}(id=*{id})}">Edit</a>
                    <form th:method="DELETE" th:action="@{/news/details/{id}(id=*{id})}">
                        <button class="delete-btn">Delete</button>
                    </form>
                </div>
                <div class="user-comments">
                    <h1>Comments</h1>
                    <section class="comments-container" id="comments-container">
                        <div class="user-comment" id="user-comment">
                            <div class="user-photo-container">
                                <img src="" alt="" />
                            </div>
                            <div class="comment-container">
                                <h3></h3>
                                <p>

                                </p>
                                <p class="date" style="text-align: right">
                                </p>
                            </div>
                        </div>
                    </section>

                    <section class="add-comment">
                        <h3 class="comment-title">Write your comment here:</h3>
                        <form>
                            <input
                                    type="text"
                                    name="comment"
                                    id="comment"
                                    required
                            />
                            <button class="comment-btn">Add comment</button>
                        </form>
                    </section>
                </div>
            </div>
            <div class="col-sm-4 home-table-container">
                <div>
                    <img id="premier-league-logo" src="/images/изтеглен файл.png" alt="">
                    <table class="table home-table">
                        <thead class="thead home-table-thead">
                        <tr>
                            <th scope="col">Pos</th>
                            <th scope="col">Club</th>
                            <th scope="col">Pl</th>
                            <th scope="col">Gd</th>
                            <th scope="col">Pts</th>
                        </tr>
                        </thead>
                        <tbody th:each="t : ${teams}">
                        <tr th:classappend="${t.isFavouriteTeam() ? 'current-team' : ''}">
                            <th scope="row">
                                <span style="font-size: 10px;" th:text="${t.position}"></span>
                                <img class="first-half" th:src="${t.logoUrl}"></img>
                            </th>
                            <td th:text="${t.name}"></td>
                            <td th:text="${t.played}"></td>
                            <td th:text="${t.goalDifference}"></td>
                            <td th:text="${t.points}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


<footer>&copy; Copyright 2021</footer>
<script th:src="@{/js/comments.js}"></script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>