<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body style="background-image: url(/images/5fMwyh.jpg); background-size: cover; ">
<header th:replace="fragments/navigation::navigation"></header>
</header>

<main>
    <div class="container">
        <div class="row">
            <div th:object="${team}" id="team-info-space" class="col-sm-12">
                <h1 class="display-5 team-information-title">Team information</h1>
                <div class="row team-info-container">
                    <div id="team-info-space" class="col-sm-8">
                        <h2 th:text="|Stadium: ${team.stadium.name}|" class="team-information-stadium-title"></h2>
                        <img class="team-information-stadium-photo" th:src="${team.stadium.imgUrl}" alt="">
                    </div>

                    <div id="team-info-space" class="col-sm-4">
                        <h2 th:text="${team.name}" class="team-information-name"></h2>
                        <p th:text="${team.description}"></p>
                        <h2 class="team-information-name">Logo</h2>
                        <img class="team-info-logo" th:src="${team.logoUrl}" alt="">
                    </div>
                    <h1 class="display-5 team-information-current-team">Current team</h1>
                    <div th:each="t : ${trainer}">
                    <h3> Trainer: <a th:text="|${t.firstName} ${t.lastName}|" class="players" th:href="@{/players/{id}(id = ${t.id})}"></a></h3>
                    </div>
                    <p>
                    <div>
                    <h3> Goalkeepers:
                        <span th:each="g, iterStat : ${goalkeepers}">
                        <a th:text="${g.firstName} + ' ' + ${g.lastName} + ${!iterStat.last ? ', ' : ''}" class="players" th:href="@{/players/{id}(id = ${g.id})}"></a>
                        </span>
                    </h3>
                    </div>
                    </p>
                    <div>
                    <h3> Defenders:
                        <span th:each="d, iterStat : ${defenders}">
                        <a th:text="${d.firstName} + ' ' + ${d.lastName} + ${!iterStat.last ? ', ' : ''}" class="players" th:href="@{/players/{id}(id = ${d.id})}"></a>
                        </span>
                    </h3>
                    </div>
                    <div>
                    <h3> Midfielders:
                        <span th:each="m, iterStat : ${midfielders}">
                        <a th:text="${m.firstName} + ' ' + ${m.lastName} + ${!iterStat.last ? ', ' : ''}" class="players" th:href="@{/players/{id}(id = ${m.id})}"></a>
                        </span>
                    </h3>
                    </div>
                    <div>
                    <h3> Attackers:
                        <span th:each="f, iterStat : ${forwards}">
                        <a th:text="${f.firstName} + ' ' + ${f.lastName} + ${!iterStat.last ? ', ' : ''}"  class="players" th:href="@{/players/{id}(id = ${f.id})}"></a>
                        </span>
                    </h3>
                    </div>
                </div>
            </div>
        </div>
</main>


<footer>&copy; Copyright 2021</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>