<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body style="background-image: url(/images/5fMwyh.jpg); background-size: cover; ">
<header th:replace="fragments/navigation::navigation"></header>
</header>

<main>
    <div class="container">
        <div class="row">
            <div id="team-info-space" class="col-sm-12">
                <h1  class="display-5 statistics-title">Last 10 matches for your favourite team</h1>
                <div class="row">
                    <table>
                        <tr class="tr-for-statistics">
                            <td class="statistics date-for-statistics"><p>18.05.2021</p></td>
                            <td id="specific" class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                            <td class="statistics"><p>2:1</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/leicester/leicester-city-logo-1.png" alt=""> LEICESTER</p></td>
                        </tr>

                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>12.05.2021</p></td>
                            <td id="specific" class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                            <td class="statistics"><p>0:1</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/arsenal/Arsenal-logo-escudo-shield-1.png" alt=""> ARSENAL</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>08.05.2021</p></td>
                            <td id="specific" class="statistics"><p><img class="logo-for-statistics" src="/images/man city/manchester-city-fc-logo-escudo-badge-3.png" alt=""> MAN CITY</p></td>
                            <td class="statistics"><p>1:2</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>01.05.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                            <td class="statistics"><p>2:0</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/fulham/fulham-fc-logo-vector.svg" alt=""> FULHAM</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>24.04.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/west ham/west-ham-united-fc-logo.png" alt=""> WEST HAM</p></td>
                            <td class="statistics"><p>0:1</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>20.04.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                            <td class="statistics"><p>0:0</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/brighton/brighton-hove-albion-logo-1.png" alt=""> BRIGHTON</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>18.05.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                            <td class="statistics"><p>2:1</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/leicester/leicester-city-logo-1.png" alt=""> LEICESTER</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>10.04.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/crystal palace/Crystal_Palace_FC_logo.png" alt=""> CRYSTAL PALACE</p></td>
                            <td class="statistics"><p>1:4</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                        </tr>
                        <tr class="tr-for-statistics">
                            <td class="statistics"><p>03.04.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                            <td class="statistics"><p>2:5</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/west brom/West-Bromwich-Albion-FC-HD-Logo.png" alt=""> WEST BROM</p></td>
                        </tr>
                        <tr>
                            <td class="statistics"><p>13.03.2021</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/leeds/610-6108355_leeds-united-afc-logo-png-transparent-leeds-united.png" alt=""> LEEDS</p></td>
                            <td class="statistics"><p>0:0</p></td>
                            <td class="statistics"><p><img class="logo-for-statistics" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt=""> CHELSEA</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>&copy; Copyright 2021</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>