<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body style="background-image: url(/images/5fMwyh.jpg); background-size: cover; ">
<header th:replace="fragments/commons::nav">
</header>

<main>
    <div class="container">
        <div class="row">
            <div id="team-info-space" class="col-sm-12">

                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/arsenal/Arsenal-logo-escudo-shield-1.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/aston villa/Aston-Villa-FC-HD-Logo.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/brighton/brighton-hove-albion-logo-1.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/burnley/burnley-logo-3.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/chelsea/chelsea-fc-2-logo-png-transparent.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/crystal palace/Crystal_Palace_FC_logo.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/everton/everton-logo-escudo-1.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/fulham/fulham-fc-logo-vector.svg" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/leeds/Leeds-United-FC-Logo.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/leicester/leicester-city-logo-1.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/liverpool/unnamed.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/man city/manchester-city-fc-logo-escudo-badge-3.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/man utd/manchester_united_PNG9.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/Newcastle/Newcastle_United_Logo.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/sheffield united/sheffield-united-logo-1.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/southampton/southampton-fc-logo-1.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img class="other-teams-spurs-logo" id="other-team-logo" src="/images/tottenham/Tottenham_Hotspur.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/west brom/West-Bromwich-Albion-FC-HD-Logo.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/west ham/west-ham-united-fc-logo.png" alt="">
                </a>
                <a href="/other-team-news.html">
                    <img id="other-team-logo" src="/images/wolves/wolverhampton-logo-escudo.png" alt="">
                </a>
            </div>
        </div>
    </div>
</main>


<footer>&copy; Copyright 2021</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>